# Automatation to merge dependency updates automatically

name: Merge Dependency Updates Automatically

on:
  pull_request_target:
    paths:
      - 'package*.json'
      - 'yarn.lock'
  pull_request_review:
    types:
      - edited
      - submitted

jobs:
  run:
    if: github.repository_owner == 'web3community'
    runs-on: ubuntu-latest
    steps:
      - uses: tjenkinson/gh-action-auto-merge-dependency-updates@v1
        with:
          allowed-actors: dependabot-preview[bot], dependabot[bot]
